.contact{
    background-color: #fff;
    padding: 4vh 5vh;
    border-bottom-left-radius: 1rem;
    border-top-left-radius: 1rem;
}

@media(max-width:767px){
    .contact{
        padding: 4vh 1vh;
        border-bottom-left-radius: unset;
        border-top-right-radius: 1rem;
    }
}